ESP32/SECRETS.h
build/
dist/
server/.idea/
server/__pycache__/
server/utils/__pycache__/
server/utils/logs
server/utils/engine/__pycache__
server/utils/hardware/__pycache__
server/utils/Modes/__pycache__
server/utils/prediction_model/__pycache__
server/utils/session/__pycache__
.vscode/
.venv/
venv311/
.cursor/


