ESP32/SECRETS.h
server/.idea/
server/__pycache__/
server/utils/__pycache__/
server/utils/logs
.vscode/
.venv/
venv311/
.cursor/
server/utils/__pycache__
research/processed_data
research/__pycache__
research/results/plots
research/results/models/
research/lightGBM/__pycache__/

